/* <共通スタイル> */

/*タイトル背景色*/
#title{
	background-color: deepskyblue;
}
/* サブタイトル背景色 */
#sub_title{
	background-color: skyblue;
}
/*タイトル・サブタイトル結合*/
.title{
	margin: 0;
	text-align: center;
}
/*全体背景色*/
body{
	background-color: beige;
}
main{
	margin: 40px;
	padding: 40px 80px;
	border: 1px solid skyblue;
	background-color: white;
}

/* </共通スタイル> */

/* <user_style> */
.map1{
	position: relative;
}
.map2{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
/* </user_style> */

/* <user-home-home.html> */

/* </user-home-home.html> */